interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 17 Nov 2021 18:23:16 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-cf05-2d1a-99c6-593a0d00abd6"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6vfkF5nnSkWK68/1uKfQmw.2.0
      x-processing-time:
      - 24ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "3c6b2a90-47bd-11ec-bf42-398e0045d172",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "9c201300-4082-4e74-abba-f4ae25e555f5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 5f60011a-866d-4341-946b-75374934f80c
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/9c201300-4082-4e74-abba-f4ae25e555f5/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "d12efc9a-e85c-4791-bb0a-cfc6da31934f", "status": "completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 22b1940e-8a2d-485d-9e83-9f0d47153a8c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/9c201300-4082-4e74-abba-f4ae25e555f5/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - b4d15a7e-fef2-40f5-8add-fb7fe77e3328
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/9c201300-9495-41de-9bc4-5dc7111a2251/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 35f9c51f-8e63-4e47-b6c8-2a96561bfda9
    status:
      code: 202
      message: Accepted
version: 1
