interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 12 Nov 2021 15:38:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-8c96-99c6-593a0d0050ed"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SEmb8cKDKE2C4GPeLLMxpw.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": {"value": "+18334241267"}, "targets": [{"phoneNumber":
      {"value": "+918559859399"}}], "source": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-8c96-99c6-593a0d0050ed"}},
      "subject": "test subject", "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId":"07201300-1f64-4338-a27d-603611b10d75"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - dd8aa88c-245d-4ce1-b373-ef4cd6ea73ae
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: GET
    uri: https://sanitized.communication.azure.com/calling/callConnections/07201300-1f64-4338-a27d-603611b10d75?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId":"07201300-1f64-4338-a27d-603611b10d75","source":{"rawId":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-8c96-99c6-593a0d0050ed","communicationUser":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-8c96-99c6-593a0d0050ed"}},"alternateCallerId":{"value":"+18334241267"},"targets":[{"rawId":"4:+918559859399","phoneNumber":{"value":"+918559859399"}}],"callConnectionState":"connecting","subject":"test
        subject","callbackUri":"https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld","requestedMediaTypes":["audio"],"requestedCallEvents":["participantsUpdated"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - baecb9c1-077d-4053-b7cd-2f2a33ddf8c2
    status:
      code: 200
      message: OK
- request:
    body: '{"audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav", "loop":
      true, "operationContext": "<azure.communication.callingserver._models.PlayAudioOptions
      object at 0x000001EE9E332770>", "audioFileId": "313162df-6832-4ffd-a20c-010f9bdca97a",
      "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/07201300-1f64-4338-a27d-603611b10d75/:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error":{"code":"8501","message":"Action is invalid when call is not
        in Established state"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 39772ad0-d564-4316-bbee-e42eb7462f7d
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/07201300-1f64-4338-a27d-603611b10d75/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - c8201230-8f35-4f60-9b60-75720e160af6
    status:
      code: 202
      message: Accepted
version: 1
