interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 17 Nov 2021 18:22:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-cf04-b52c-ec8d-084822007dba"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dWMOVGv1MU2oIUXKDTacow.2.0
      x-processing-time:
      - 43ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "d2bc2300-479f-11ec-a1e1-bd55c8631198",
      "kind": "groupCallLocator"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8523", "message": "One or more arguments are invalid."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 8d38c7cd-df35-4fc7-9d0d-5fbe42fd826e
    status:
      code: 400
      message: Bad Request
version: 1
