interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 12 Nov 2021 15:38:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-5fb0-99c6-593a0d0050e8"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zL0HedmXLkmThqce2aovPw.2.0
      x-processing-time:
      - 26ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": {"value": "+18334241267"}, "targets": [{"phoneNumber":
      {"value": "+918559859399"}}], "source": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-5fb0-99c6-593a0d0050e8"}},
      "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId":"07201300-3165-4f08-86c8-252ff4e75d9b"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 54db1b91-8558-48c0-8dec-ae0a1bb71db3
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/07201300-3165-4f08-86c8-252ff4e75d9b/:keepAlive?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - ad81a379-1441-4214-8a6c-a0bb23054483
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: DELETE
    uri: https://sanitized.communication.azure.com/calling/callConnections/07201300-3165-4f08-86c8-252ff4e75d9b?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - f0750f72-a14b-4438-a2b7-62e64967ab3e
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/07201300-3165-4f08-86c8-252ff4e75d9b/:keepAlive?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 262c216f-32a6-4b98-bb7d-c910585f00a9
    status:
      code: 200
      message: OK
version: 1
