interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 12 Nov 2021 15:38:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-b7f7-28c5-593a0d005775"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bOOV/e7PzEeLUgUPy5nkSQ.2.0
      x-processing-time:
      - 23ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": {"value": "+18334241267"}, "targets": [{"phoneNumber":
      {"value": "+918559859399"}}], "source": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-b7f7-28c5-593a0d005775"}},
      "subject": "test subject", "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated",
      "toneReceived"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId":"ca201300-036c-47c5-9fc1-37b4f774bad5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - addc411c-0261-42f2-a58e-2783ba14109e
    status:
      code: 201
      message: Created
- request:
    body: '{"targetParticipant": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b36d-a525-0cf9-9c3a0d002d42"}},
      "targetCallConnectionId": "82201300-fa8f-4992-96c5-6d9f8aefdf59", "userToUserInformation":
      "", "operationContext": "403627c0-9259-47b6-804a-38dd328d4c6a", "callbackUri":
      "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/ca201300-036c-47c5-9fc1-37b4f774bad5/:transfer?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error":{"code":"8501","message":"Action is invalid when call is not
        in Established state"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - b81d58bb-cd7c-4804-a367-3be5c6060437
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/ca201300-036c-47c5-9fc1-37b4f774bad5/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 1e300cc3-bf47-42b6-a3fc-dd8d79b09c32
    status:
      code: 202
      message: Accepted
version: 1
