interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 17 Nov 2021 18:22:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-cf04-d677-f883-084822007abb"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - VZC/7m1Fe0aXsnIUgF/fyA.2.0
      x-processing-time:
      - 25ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "subject": "test subject", "callbackUri": "sanitized", "requestedMediaTypes":
      ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "70201300-aaf4-4f31-992a-b993273e1229"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 615be3de-5fed-43ae-8d8a-62787f2adebe
    status:
      code: 201
      message: Created
- request:
    body: '{"alternateCallerId": "sanitized", "participant": {"communicationUser":
      {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-cd9e-dd30-290c-113a0d003ae5"}},
      "operationContext": "84ebf66b-a4fd-4dc9-9f0d-55c885112063"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/70201300-aaf4-4f31-992a-b993273e1229/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8501", "message": "Action is invalid when call
        is not in Established state"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 0d06573d-e5b6-4b47-84ef-849fa5412bec
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/70201300-aaf4-4f31-992a-b993273e1229/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - ef2a8213-e416-40bd-bac1-977c543b5bd1
    status:
      code: 202
      message: Accepted
version: 1
