interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 12 Nov 2021 15:37:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ad-f464-d68a-0848220054c6"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ORS3ZxUnQE2hFa9lR3u6sw.2.0
      x-processing-time:
      - 42ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": {"value": "+18334241267"}, "targets": [{"phoneNumber":
      {"value": "+918559859399"}}], "source": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ad-f464-d68a-0848220054c6"}},
      "subject": "test subject", "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId":"c61f1300-3eac-4b7e-8e6f-d1990daa7b35"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 764ca357-a1aa-433c-85c3-06489ceb3a29
    status:
      code: 201
      message: Created
- request:
    body: '{"alternateCallerId": {"value": "<azure.communication.chat._shared.models.PhoneNumberIdentifier
      object at 0x000001EE9D15FB50>"}, "participant": {"communicationUser": {"id":
      "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b36d-a525-0cf9-9c3a0d002d42"}},
      "operationContext": "06ff6b80-cea1-4ff7-b263-1dd517334d69"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/c61f1300-3eac-4b7e-8e6f-d1990daa7b35/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error":{"code":"8501","message":"Action is invalid when call is not
        in Established state"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 825ba134-e514-4f2b-bdef-6bbad9e3d809
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/c61f1300-3eac-4b7e-8e6f-d1990daa7b35/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - aea4b0a5-1702-4c2d-9eb8-ee3c87310feb
    status:
      code: 202
      message: Accepted
version: 1
