interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 12 Nov 2021 15:38:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-f1bb-99c6-593a0d0050f2"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 35WqR0oD4EG/3d3YESYZeA.2.0
      x-processing-time:
      - 39ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": {"value": "+18334241267"}, "targets": [{"phoneNumber":
      {"value": "+918559859399"}}], "source": {"communicationUser": {"id": "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b4ae-f1bb-99c6-593a0d0050f2"}},
      "subject": "test subject", "callbackUri": "https://dummy.ngrok.io/api/incident/callback?SecretKey=helloworld",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId":"59201300-0321-46ef-bb89-5f1ef30fad29"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - fcbe4b91-dfcc-4e5a-96b4-e62ec6d15211
    status:
      code: 201
      message: Created
- request:
    body: '{"alternateCallerId": {"value": "<azure.communication.chat._shared.models.PhoneNumberIdentifier
      object at 0x000001EE9E30BFA0>"}, "participant": {"communicationUser": {"id":
      "8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-b36d-a525-0cf9-9c3a0d002d42"}},
      "operationContext": "4f003f9f-a45e-45f4-94cd-fb9509b388e9"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/59201300-0321-46ef-bb89-5f1ef30fad29/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error":{"code":"8501","message":"Action is invalid when call is not
        in Established state"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 2e9dc97a-3f72-4e1a-8893-4ecdc72b70bf
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/59201300-0321-46ef-bb89-5f1ef30fad29/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 7a1f5be8-1d9f-41f4-840e-2f414bb3a593
    status:
      code: 202
      message: Accepted
version: 1
