interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 17 Nov 2021 18:23:44 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000d-cf05-97ac-e3c7-593a0d008359"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - F8S6uST0+0iXXD4K6NCC2A.2.0
      x-processing-time:
      - 22ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "5acb4690-47a5-11ec-87bb-bf2fa49f5208",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "cc1f1300-9cb4-4e3f-88c1-648d3c37ecd1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 8ab10b01-2159-4ca0-80f8-1c467f663c42
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "5acb4690-47a5-11ec-87bb-bf2fa49f5208",
      "kind": "groupCallLocator"}, "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
      "loop": true, "operationContext": "228c0393-2fb2-4fb7-859f-9234b9a46de3", "audioFileId":
      "927f59b5-2792-4cfe-bfd6-f60df6e1b30f", "callbackUri": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "cc1f1300-b4ae-43af-8ecc-10d0322919df", "status": "running",
        "operationContext": "228c0393-2fb2-4fb7-859f-9234b9a46de3"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 12d00c29-e06d-4b05-8ec4-0f10282fc528
    status:
      code: 202
      message: Accepted
- request:
    body: '{"callLocator": {"groupCallId": "5acb4690-47a5-11ec-87bb-bf2fa49f5208",
      "kind": "groupCallLocator"}, "mediaOperationId": "cc1f1300-b4ae-43af-8ecc-10d0322919df"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:cancelMediaOperation?api-version=2021-11-15-preview
  response:
    body:
      string: <h2>Our services aren't available right now</h2><p>We're working to
        restore all services as soon as possible. Please check back soon.</p>0vkiVYQAAAAAqLM6XtX8tRqIYYel+AG9lREVMMDFFREdFMDYxOABFZGdl
    headers:
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/cc1f1300-9cb4-4e3f-88c1-648d3c37ecd1/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - cf5c7180-65d5-4771-af2e-280f827edcaa
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/cc1f1300-0c0e-483b-abf4-6fec0c7e584f/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 7925b4c5-fce2-429e-a0f1-bf77a247e50d
    status:
      code: 202
      message: Accepted
version: 1
